@charset "utf-8";
/* CSS Document */
@media (max-width: 800px){
    .mx-30{
        margin-bottom: 30px;
    }
}


/*Card formatting*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  
}


/* Remove extra left and right margins, due to padding */
.row {margin: 10px;}


.row:after {
  content: "";
  display: flex;
  clear: both;
	padding: 50px;
	position: relative;
	padding:20 40px;
	
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #f1f1f1;
	
}

.row{
	display: flex;
  justify-content: center;
  align-items: center;

}

/* contact info*/

.contactinfo{
	text-align:center;
	background-color:#E7E7E7;
	padding: 50px;
}




/* Social media formatting */
.social-icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    border-radius: 7px;
    margin-right: 11px;
    cursor: pointer
	}
	

.social-facebook {
    background-color: goldenrod;
}
	
.social-instagram {
    background-color:goldenrod;
}
	
.social-icon i {
    transition: 0.4s all
}

.social-icon:hover i {
    transform: scale(1.1)
}

/*Footer*/
section {
  width: 100%;
  display: inline-block;
  background:#CCC;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.footer-distributed{
	background:#F5F5F5;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:darkgoldenrod;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

/* Footer links */

.footer-distributed .footer-links{
	color:#737373;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/*Text formating*/

h6{
	color:grey;
	text-align:center;
	margin: 0px;
}
h2{
	text-align:center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:#929292;
	font-style: bold;
}
 h1{
	text-align:center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:#514F4F;
	font-style: bold;
}
 
p{
	color:#929292;
	text-align:center;
	margin: 0px;
	
}

h4{
	text-align:center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:#333333;
	
	
}

h5{
	text-align:center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color:#929292;
	font-style: bold;
	
}

a {
  color: black;}
	
